* {
    box-sizing: border-box;
}
@font-face {
	font-family: 'Tiresias';
	src: url('fonts/Tiresias_Infofont-webfont.eot');
	src: url('fonts/Tiresias_Infofont-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/Tiresias_Infofont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tiresias';
	src: url('fonts/Tiresias_Infofont_Italic-webfont.eot');
	src: url('fonts/Tiresias_Infofont_Italic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/Tiresias_Infofont_Italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


body {
	margin: 0px;
	font-family: Tiresias, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 15px;
    font-weight: 400;
    color: #444;
    min-width: 320px;
}

body {
	font-size: 12px;
	line-height: 1.3333em;
}
h1, .h1 {
	font-size: 24px;
	line-height: 1.1666em;
}
h2, .h2 {
	font-size: 16px;
	line-height: 1.2222em;
}
h3, .h3 {
	font-size: 14px;
	line-height: 1.25em;
}
.nav, h4, .h4 {
	font-size: 13px;
	line-height: 1.2857em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	color: #034D7E;
	font-weight: 400;
}

h1.widthline {
	display: inline-block;
	border-bottom: 4px solid currentColor;
	padding-bottom: 0.125em;
}

h1.widthline::after {
	content: '';
	position: absolute;
	top: 100%;
	right: 100%;
	height: 4px;
	width: 2000px;
	background: currentColor;
}

h2, .h2 {
	padding: 0.5em 0.5em;
	position: relative;
	margin-left: -0.5em;
	background: #eee;
}

.light {
	font-weight: 300;
}

.medium {
	font-weight: 400;
}

.bold, .heavy, strong {
	font-weight: 400;
}
a {
	color: #044c7e;
	text-decoration: none;
	border-bottom: 2px dotted currentColor;
}

a:hover {
	text-decoration: none;
	border-bottom-style: solid;
}

p, blockquote {
	margin: 0 0 1em 0;
}

em {
	font-style: italic;
}

p {
	padding: 0;
}

blockquote {
	margin-left: 1em;
	font-style: italic;
}

.container--offset--left {
	margin-top: 40px;
}

.domain-options {
	-moz-columns: 2 auto;
	columns: 2 auto;
}

.domain-option {
	display: block;
	margin: 0;
	text-decoration: none;
	border-bottom: none;
	padding: 0;
}

.domain-option:hover {
	border-bottom: none;
}

@media screen and (min-width:501px) and (max-width:720px) {
	body {
		font-size: 13px;
		line-height: 1.3333em;
	}
	h1, .h1 {
		font-size: 26px;
		line-height: 1.1666em;
	}
	h2, .h2 {
		font-size: 18px;
		line-height: 1.2222em;
	}
	h3, .h3 {
		font-size: 14px;
		line-height: 1.25em;
	}
	.nav, h4, .h4 {
		font-size: 13px;
		line-height: 1.2857em;
	}
}

@media screen and (min-width:721px) and (max-width:960px) {
	body {
		font-size: 14px;
		line-height: 1.3333em;
	}
	h1, .h1 {
		font-size: 28px;
		line-height: 1.1666em;
	}
	h2, .h2 {
		font-size: 19px;
		line-height: 1.2222em;
	}
	h3, .h3 {
		font-size: 16px;
		line-height: 1.25em;
	}
	.nav, h4, .h4 {
		font-size: 15px;
		line-height: 1.2857em;
	}
}

@media screen and (min-width:961px) and (max-width:1200px) {
	body {
		font-size: 15px;
		line-height: 1.3333em;
	}
	h1, .h1 {
		font-size: 30px;
		line-height: 1.1666em;
	}
	h2, .h2 {
		font-size: 22px;
		line-height: 1.2222em;
	}
	h3, .h3 {
		font-size: 18px;
		line-height: 1.25em;;
	}
	.nav, h4, .h4 {
		font-size: 16px;
		line-height: 1.2857em;
	}
}

@media screen and (min-width:1201px) {
	body {
		font-size: 16px;
		line-height: 1.3333em;
	}
	h1, .h1 {
		font-size: 32px;
		line-height: 1.1666em;
	}
	h2, .h2 {
		font-size: 24px;
		line-height: 1.2222em;
	}
	h3, .h3 {
		font-size: 20px;
		line-height: 1.25em;
	}
	.nav, h4, .h4 {
		font-size: 18px;
		line-height: 1.2857em;
	}
	

}

header {
	background-color: #044C7E;
}
.operat-row {
	display: grid;
	padding: 20px;
}
.header-col.header--logo {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.header-col.header--partners {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	text-align: center;
}

.hide-visually {
	position: absolute !important;
	margin: 0 0 0 -9999px !important;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	top: auto !important;
}
.header-col {
	padding-bottom: 20px;
}
.nav__toggle {
	float: left;
	padding: 0;
	margin: 0;
}
.nav__toggle__label {
	padding: 0;
	margin: 0;
}
.nav__toggle i {
	display: none !important;;
}


@media only screen and (min-width: 800px)  {

	.header-col.header--partners {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
		text-align: right;
	}
	.header-col {
		padding-bottom: 0px;
	}

}
.logo--operat img {
	padding-top: 10px;
	width: 100%;
	max-width: 618px;
}
.logo--local-uni {
	padding-right: 40px;
}
.logo__image {
	width: 40%;
	max-width: 289px;
}


.container--nav {
	background: #057279;
	color: white;
	border-top: 4px solid white;
}

.px5 {
	padding: 0px 15px;
}
.js-show {
	display: block !important;
}

.js-hide {
	display: none !important;
}

.nav, .lvl-0, .lvl-0-item, .lvl-0-link, .lvl-1, .lvl-1-item, .lvl-1-link,
	.lvl-2, .lvl-2-item, .lvl-2-link, .lvl-3, .lvl-3-item, .lvl-3-link {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
}

.lvl-0-link, .lvl-1-link, .lvl-2-link, .lvl-3-link {
	color: white;
	border-bottom: none;
}

.nav {
	z-index: 1001;
	position: relative;
}

.nav, .lvl-0, .container--nav {
	min-height: 2.285em;
	overflow: visible;
}

@media all and (max-width:960px) {
	.lvl-0 {
		display: none;
		position: absolute;
		background: #444;
		top: 30px;
		width: 100%;
		padding-top: 0.5em;
	}
	.nav.js-show .lvl-0 {
		display: block;
	}
	.lvl-0-item+.lvl-0-item {
		border-top: 1px solid rgba(255, 255, 255, 0.25);
	}
	.lvl-0-link {
		margin: 0;
		padding: 0.5em 0.75em 0.5em 0.75em;
		background: transparent;
		border-right: 4px solid transparent;
	}
	.lvl-0-link:hover {
		border: none;
		background-color: #444;
		color: white;
	}
}

@media all and (min-width:961px) {
	.lvl-0 {
		position: relative;
		display: block;
		width: 100%;
		z-index: 1000;
	}
	.lvl-0-item {
		display: block;
		float: left;
		position: relative;
	}
	.lvl-0-link {
		margin: 0;
		padding: 0.5em 1em 0.5em 1em;
		background: transparent;
		text-align: center;
		border-right: 4px solid transparent;
		padding-right: calc(1em - 8px);
	}
	.lvl-0-link:hover::before, .lvl-0-link:hover::before, .lvl-0-link:active::before,
		.lvl-0-item.selected .lvl-0-link::before, .lvl-0-item:hover .lvl-0-link::before
		{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background: white;
		width: 4px;
	}
	.lvl-0-link:hover::after, .lvl-0-link:hover::after, .lvl-0-link:active::after,
		.lvl-0-item.selected .lvl-0-link::after, .lvl-0-item:hover .lvl-0-link::after
		{
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		height: 100%;
		background: white;
		width: 4px;
	}
	.lvl-0-item:last-child {
		margin-right: 0;
	}
	.lvl-0-link:hover, .lvl-0-link:active, .lvl-0-item.selected .lvl-0-link,
		.lvl-0-item:hover .lvl-0-link {
		text-decoration: none;
		background: #002D42;
		color: #fff;
		border-bottom: none;
	}
}

@media all and (max-width:960px) {
	.lvl-1 {
		display: none;
	}
	.lvl-1-item+.lvl-1-item {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}
	.lvl-1-link {
		margin: 0;
		padding: 0.5em 0.75em 0.5em 2.75em;
		background: transparent;
		border-right: 4px solid transparent;
	}
	.lvl-1-link:hover {
		border: none;
		background-color: #444;
		color: white;
	}
}

@media all and (min-width:961px) {
	.lvl-1 {
		display: none;
		position: absolute;
		left: 4px;
		padding: 4px 0 0 0;
		background-color: white;
		min-width: 100%;
		width: 200%;
		z-index: 1000;
	}
	.lvl-1::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 4px;
		background: #002D42;
		width: calc(50% - 4px);
	}
	.lvl-1-item {
		width: 100%;
		position: relative;
	}
	.lvl-1-link {
		color: #fff;
		text-align: left;
		background: #002D42;
		padding: 0.5em 1em 0.5em 0.75em;
	}
	.lvl-1-link:hover, .lvl-1-link:active, .lvl-1-item.selected .lvl-0-link,
		.lvl-1-item:hover .lvl-0-link {
		text-decoration: none;
		background-color: #35556C;
		color: #fff;
		border-bottom: none;
	}
}

.nav li>.nav ul {
	top: auto;
	left: auto;
	z-index: 10;
}

.lvl-0-item:hover .lvl-1 {
	display: block;
}

.lvl-1-item:hover .lvl-2 {
	display: block;
}

.nav__toggle {
	display: none;
	background: #fff;
	color: #000;
	min-height: 2.285em;
	line-height: 2.285em;
	z-index: 300;
}

.nav__toggle:hover {
	color: #057279;
	border: none;
}

.nav__toggle__label {
	
}

.nav__toggle i {
	display: none;
}

@media all and (max-width:960px) {
	.nav__toggle {
		display: inline-block;
		vertical-align: middle;
		padding: 0 0.75em;
		border: none;
		margin: 0;
	}
}
.region--homecontent {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100%/ 4);
	max-width: 400px;
	background: white;
	z-index: 500;
	max-height: calc(100% - 160px);
	overflow-y: auto;
	box-shadow: 0 0 7px #bbb;
}
@media all and (max-width:720px) {
	.region--homecontent {
		height: auto;
		width: 100%;
		max-width: 100%;
		position: static;
		top: auto;
		left: auto;
		height: auto;
	}
	.region--map {
		height: auto;
	}
	.lo-home .region--content {
		height: auto;
	}
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.container--header {
		overflow: auto;
	}
	.container--header, .container--homecontent, .container--datacontent,
		.container--nav, .container--footer {
		width: auto;
	}
	.container--homecontent, .container--datacontent {
		padding: 2em;
	}
	.container--offset--left {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
	.container--offset--right {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media all and (min-width:720px) and (max-width:960px) {
	.region--homecontent {
		min-width: 320px;
	}
	.container {
		width: 100%;
		padding: 0 15px;
	}
	.container--header {
		overflow: auto;
	}
	.container--header, .container--homecontent, .container--datacontent,
		.container--nav, .container--footer {
		width: auto;
	}
	.container--homecontent, .container--datacontent {
		padding: 2em;
	}
	.container--offset--left {
		float: left;
		width: calc(70% - 60px);
		margin-left: 20px;
		margin-right: 40px;
	}
	.container--offset--right {
		float: left;
		width: calc(30% - 20px);
	}
}

@media all and (min-width:961px) and (max-width:1280px) {
	.region--homecontent {
		min-width: 380px;
	}
	.container {
		width: 100%;
		padding: 0 20px;
	}
	.container--header {
		overflow: auto;
	}
	.container--header, .container--homecontent, .container--datacontent,
		.container--nav, .container--footer {
		width: auto;
	}
	.container--homecontent, .container--datacontent {
		padding: 2em;
	}
	.container--offset--left {
		float: left;
		width: calc(80% - 60px);
		margin-left: 20px;
		margin-right: 40px;
	}
	.container--offset--right {
		float: left;
		width: calc(20% - 20px);
	}
}

@media all and (min-width:1281px) {
	.region--homecontent {
		min-width: 420px;
	}
	.container {
		width: 1280px;
		max-width: 100%;
		padding: 0 20px;
	}
	.container--header {
		overflow: auto;
	}
	.container--header, .container--homecontent, .container--datacontent,
		.container--nav, .container--footer {
		width: auto;
	}
	.container--homecontent, .container--datacontent {
		padding: 2em;
	}
	.container--offset--left {
		float: left;
		width: calc(( 1280px * 0.8) - 40px);
		margin-left: calc((( 100% - 1280px) / 2) - 0.1px);
		margin-right: 40px;
	}
	.container--offset--right {
		float: left;
		width: calc(1280px * 0.2);
	}
	article {
		
	}
	aside {
		overflow: auto;
	}
	div.header--partners img.logo__image {
		padding-right: 20px;
	}
}
.footer-nav, .foot-lvl-0, .foot-lvl-0-item, .foot-lvl-0-link {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
}

.region--footer {
	background: #057279;
	color: #fff;
	font-size: smaller;
	line-height: inherit;
}

.container--footer {
	padding-top: 1em;
	padding-bottom: 1em;
	overflow: auto;
}

.region--footer a {
	color: #fff;
	display: inline-block;
	border: none;
}

.region--footer p {
	padding: 0;
	margin: 0;
}
.region {
	clear: left;
}

.region--content {
	position: relative;
}
.region--banners {
    position: relative;
    margin-bottom: 2em;
    background-color: #eee;
    color: #666;
    padding: 0;
}

article {
	width: 100%;
	padding-bottom: 5em;
}

aside {
	padding-bottom: 50px;
}

.footer-nav {
	display: inline-block;
	margin-right: 2em;
	padding: .5em 0;
	float: left;
}

.footer-lvl-0 {
	padding: 0;
	margin: 0;
}

.footer-lvl-0-item {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.footer-lvl-0-link {
	padding: 0;
	color: #FFFFFF;
}

@media all and (max-width:480px) {
	.copyright {
		text-align: left;
		margin-bottom: 2em;
	}
	.footer-lvl-0 {
		margin-bottom: 0.5em;
	}
	.footer-lvl-0-item {
		clear: left;
		display: block;
	}
}

@media all and (min-width:481px) and (max-width:960px) {
	.copyright {
		text-align: left;
		margin-bottom: 2em;
	}
	.footer-lvl-0 {
		margin-bottom: 0.5em;
	}
	.footer-lvl-0-item+.footer-lvl-0-item {
		margin-left: 1em;
		padding-left: 1.5em;
	}
	.footer-lvl-0-item+.footer-lvl-0-item:before {
		content: '|';
		position: absolute;
		left: 0;
		font-size: 1em;
		color: #fff;
	}
}

@media all and (min-width:961px) and (max-width:1280px) {
	.copyright {
		text-align: right;
	}
	.footer-lvl-0-item+.footer-lvl-0-item {
		margin-left: 1em;
		padding-left: 1.5em;
	}
	.footer-lvl-0-item+.footer-lvl-0-item:before {
		content: '|';
		position: absolute;
		left: 0;
		font-size: 1em;
		color: #fff;
	}
}

@media all and (min-width:1281px) {
	.copyright {
		text-align: right;
	}
	.footer-lvl-0-item+.footer-lvl-0-item {
		margin-left: 1em;
		padding-left: 1.5em;
	}
	.footer-lvl-0-item+.footer-lvl-0-item:before {
		content: '|';
		position: absolute;
		left: 0;
		font-size: 1em;
		color: #fff;
	}
}

@media screen and (max-width:960px) {
	.col {
		float: left;
	}
	.col--pad {
		padding-left: 5px;
		padding-right: 5px;
	}
	.sm-1-16 {
		width: calc(100%/ 16);
	}
	.sm-2-16 {
		width: calc(100%/ 16 * 2);
	}
	.sm-3-16 {
		width: calc(100%/ 16 * 3 - 0.1px);
	}
	.sm-4-16 {
		width: calc(100%/ 16 * 4);
	}
	.sm-5-16 {
		width: calc(100%/ 16 * 5);
	}
	.sm-6-16 {
		width: calc(100%/ 16 * 6 - 0.1px);
	}
	.sm-7-16 {
		width: calc(100%/ 16 * 7);
	}
	.sm-8-16 {
		width: calc(100%/ 16 * 8);
	}
	.sm-9-16 {
		width: calc(100%/ 16 * 9 - 0.1px);
	}
	.sm-10-16 {
		width: calc(100%/ 16 * 10);
	}
	.sm-11-16 {
		width: calc(100%/ 16 * 11);
	}
	.sm-12-16 {
		width: calc(100%/ 16 * 12);
	}
	.sm-13-16 {
		width: calc(100%/ 16 * 13);
	}
	.sm-14-16 {
		width: calc(100%/ 16 * 14);
	}
	.sm-15-16 {
		width: calc(100%/ 16 * 15);
	}
	.sm--offset-1-16 {
		margin-left: calc(100%/ 16);
	}
	.sm--offset-2-16 {
		margin-left: calc(100%/ 16 * 2);
	}
	.sm--offset-3-16 {
		margin-left: calc(100%/ 16 * 3 - 0.1px);
	}
	.sm--offset-4-16 {
		margin-left: calc(100%/ 16 * 4);
	}
	.sm--offset-5-16 {
		margin-left: calc(100%/ 16 * 5);
	}
	.sm--offset-6-16 {
		margin-left: calc(100%/ 16 * 6 - 0.1px);
	}
	.sm--offset-7-16 {
		margin-left: calc(100%/ 16 * 7);
	}
	.sm--offset-8-16 {
		margin-left: calc(100%/ 16 * 8);
	}
	.sm--offset-9-16 {
		margin-left: calc(100%/ 16 * 9 - 0.1px);
	}
	.sm--offset-10-16 {
		margin-left: calc(100%/ 16 * 10);
	}
	.sm--offset-11-16 {
		margin-left: calc(100%/ 16 * 11);
	}
	.sm--offset-12-16 {
		margin-left: calc(100%/ 16 * 12);
	}
	.sm--offset-13-16 {
		margin-left: calc(100%/ 16 * 13);
	}
	.sm--offset-14-16 {
		margin-left: calc(100%/ 16 * 14);
	}
	.sm--offset-15-16 {
		margin-left: calc(100%/ 16 * 15);
	}
}

@media screen and (min-width:960px) and (max-width:1280px) {
	.col {
		float: left;
	}
	.col--pad {
		padding-left: 10px;
		padding-right: 10px;
	}
	.md-1-16 {
		width: calc(100%/ 16);
	}
	.md-2-16 {
		width: calc(100%/ 16 * 2);
	}
	.md-3-16 {
		width: calc(100%/ 16 * 3 - 0.1px);
	}
	.md-4-16 {
		width: calc(100%/ 16 * 4);
	}
	.md-5-16 {
		width: calc(100%/ 16 * 5);
	}
	.md-6-16 {
		width: calc(100%/ 16 * 6 - 0.1px);
	}
	.md-7-16 {
		width: calc(100%/ 16 * 7);
	}
	.md-8-16 {
		width: calc(100%/ 16 * 8);
	}
	.md-9-16 {
		width: calc(100%/ 16 * 9 - 0.1px);
	}
	.md-10-16 {
		width: calc(100%/ 16 * 10);
	}
	.md-11-16 {
		width: calc(100%/ 16 * 11);
	}
	.md-12-16 {
		width: calc(100%/ 16 * 12);
	}
	.md-13-16 {
		width: calc(100%/ 16 * 13);
	}
	.md-14-16 {
		width: calc(100%/ 16 * 14);
	}
	.md-15-16 {
		width: calc(100%/ 16 * 15);
	}
	.md--offset-1-16 {
		margin-left: calc(100%/ 16);
	}
	.md--offset-2-16 {
		margin-left: calc(100%/ 16 * 2);
	}
	.md--offset-3-16 {
		margin-left: calc(100%/ 16 * 3 - 0.1px);
	}
	.md--offset-4-16 {
		margin-left: calc(100%/ 16 * 4);
	}
	.md--offset-5-16 {
		margin-left: calc(100%/ 16 * 5);
	}
	.md--offset-6-16 {
		margin-left: calc(100%/ 16 * 6 - 0.1px);
	}
	.md--offset-7-16 {
		margin-left: calc(100%/ 16 * 7);
	}
	.md--offset-8-16 {
		margin-left: calc(100%/ 16 * 8);
	}
	.md--offset-9-16 {
		margin-left: calc(100%/ 16 * 9 - 0.1px);
	}
	.md--offset-10-16 {
		margin-left: calc(100%/ 16 * 10);
	}
	.md--offset-11-16 {
		margin-left: calc(100%/ 16 * 11);
	}
	.md--offset-12-16 {
		margin-left: calc(100%/ 16 * 12);
	}
	.md--offset-13-16 {
		margin-left: calc(100%/ 16 * 13);
	}
	.md--offset-14-16 {
		margin-left: calc(100%/ 16 * 14);
	}
	.md--offset-15-16 {
		margin-left: calc(100%/ 16 * 15);
	}
}

@media screen and (min-width:1281px) , print {
	.col {
		float: left;
	}
	.col--pad {
		padding-left: 20px;
		padding-right: 20px;
	}
	.lg-1-16 {
		width: calc(100%/ 16);
	}
	.lg-2-16 {
		width: calc(100%/ 16 * 2);
	}
	.lg-3-16 {
		width: calc(100%/ 16 * 3 - 0.1px);
	}
	.lg-4-16 {
		width: calc(100%/ 16 * 4);
	}
	.lg-5-16 {
		width: calc(100%/ 16 * 5);
	}
	.lg-6-16 {
		width: calc(100%/ 16 * 6 - 0.1px);
	}
	.lg-7-16 {
		width: calc(100%/ 16 * 7);
	}
	.lg-8-16 {
		width: calc(100%/ 16 * 8);
	}
	.lg-9-16 {
		width: calc(100%/ 16 * 9 - 0.1px);
	}
	.lg-10-16 {
		width: calc(100%/ 16 * 10);
	}
	.lg-11-16 {
		width: calc(100%/ 16 * 11);
	}
	.lg-12-16 {
		width: calc(100%/ 16 * 12);
	}
	.lg-13-16 {
		width: calc(100%/ 16 * 13);
	}
	.lg-14-16 {
		width: calc(100%/ 16 * 14);
	}
	.lg-15-16 {
		width: calc(100%/ 16 * 15);
	}
	.lg--offset-1-16 {
		margin-left: calc(100%/ 16);
	}
	.lg--offset-2-16 {
		margin-left: calc(100%/ 16 * 2);
	}
	.lg--offset-3-16 {
		margin-left: calc(100%/ 16 * 3 - 0.1px);
	}
	.lg--offset-4-16 {
		margin-left: calc(100%/ 16 * 4);
	}
	.lg--offset-5-16 {
		margin-left: calc(100%/ 16 * 5);
	}
	.lg--offset-6-16 {
		margin-left: calc(100%/ 16 * 6 - 0.1px);
	}
	.lg--offset-7-16 {
		margin-left: calc(100%/ 16 * 7);
	}
	.lg--offset-8-16 {
		margin-left: calc(100%/ 16 * 8);
	}
	.lg--offset-9-16 {
		margin-left: calc(100%/ 16 * 9 - 0.1px);
	}
	.lg--offset-10-16 {
		margin-left: calc(100%/ 16 * 10);
	}
	.lg--offset-11-16 {
		margin-left: calc(100%/ 16 * 11);
	}
	.lg--offset-12-16 {
		margin-left: calc(100%/ 16 * 12);
	}
	.lg--offset-13-16 {
		margin-left: calc(100%/ 16 * 13);
	}
	.lg--offset-14-16 {
		margin-left: calc(100%/ 16 * 14);
	}
	.lg--offset-15-16 {
		margin-left: calc(100%/ 16 * 15);
	}
}
.btn {
	display: inline-block;
	position: relative;
	background: #444;
	color: #fff;
	padding: 0;
	border: none;
	padding: 0.65em 1em;
	cursor: pointer;
	border-radius: 2em;
	white-space: nowrap;
	overflow: hidden;
}
.btn--twitter {
	padding-right: 3.5em;
	margin-bottom: 0.5em;
}

.btn--twitter i {
	right: 1em;
}
.btn.t-twitter {
	background: #1DA1F3;
}

.btn.t-twitter {
	color: white;
}

.map {
	display: block;
	width: 100%;
	height: 100%;
}
.map-filter {
	min-width: 280px;
}
.form--mapfilter {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 280px;
	padding: 1em;
	margin: 0;
}

.form--mapfilter fieldset {
	padding: 0;
	margin: 0;
	background: white;
	box-shadow: 3px 4px 6px #ccc;
	margin-bottom: 10px;
}

.form--mapfilter fieldset.primaryoptions {
	max-width: 545px;
	width: 100%;
}
textarea:focus, input[type=email]:focus, input[type=text]:focus,
	.form--search input[type=text] {
	background: none;
}

.form--mapfilter .form-row {
	vertical-align: middle;
	display: inline-block;
	width: auto;
	clear: none;
	padding: 0 1.2em;
	margin: 0;
	overflow: visible;
	position: relative;
	border: none;
}

.form--mapfilter .form-row--filters {
	width: 100%;
}


.form--mapfilter .form-row--withborder {
	border: 1px solid #044C7E;
	border-radius: 2em;
}

.form--mapfilter .input-group {
	vertical-align: middle;
	display: inline-block;
	width: auto;
	padding: 0;
}

.form--mapfilter .input-group input {
	border: none;
	padding-left: 0;
	padding-right: 0;
	color: #044C7E;
}

.form--mapfilter .input-group>* {
	vertical-align: middle;
	display: inline-block;
	width: auto;
}

.form--mapfilter [type=submit] {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0.25em;
	transform: translateY(-50%);
	top: 50%;
}

.form--mapfilter [type=submit] i {
	padding: 0;
	margin: 0;
}

.form--mapfilter .filterexpand {
	border-bottom: none;
	white-space: nowrap;
}

.form--mapfilter {
	z-index: 250;
	padding: 0;
}

.form--mapfilter fieldset {
	padding: 1em;
	background: #fff;
}

@media all and (min-width:1241px) {
	#js-extraoptions{
	    position: absolute;
	    min-width: 680px;
	    left: 544px;
	}
}
@media all and (max-width:720px) {
	.form--mapfilter {
		bottom: 0;
		top: auto;
	}
	.form--mapfilter fieldset {
		border: none;
		box-shadow: none;
		margin: 0;
	}
	.form--mapfilter fieldset.extraoptions {
		width: 100%;
		padding-left: 0;
	}
	.form--mapfilter .domain-options {
		columns: auto;
	}
	.form--mapfilter .domain-option {
		display: block;
		margin-bottom: 0.5em;
	}
	.form--mapfilter .form-row--toggleoption {
		padding-left: 0;
		padding-top: 12px;
	}
}

@media all and (min-width:721px) and (max-width:1240px) {
	.form--mapfilter {
		
	}
	.form--mapfilter fieldset {
		border: none;
		box-shadow: none;
		margin: 0;
	}
	.form--mapfilter fieldset.primaryoptions {
		max-width: 100%;
		width: auto;
	}
	.form--mapfilter fieldset.extraoptions {
		width: 100%;
		padding-left: 0;
	}
	.form--mapfilter .domain-options {
		
	}
	.form--mapfilter .domain-option {
		
	}
	.form--mapfilter .form-row--toggleoption {
		
	}
}

table {
	margin-left: 1em;
	margin-bottom: 2em;
	border-collapse: collapse;
}

tr {
	vertical-align: top;
}

td, th {
	padding: 0.5em 0.5em;
	border: 1px solid #ddd;
	margin: 0;
	text-align: left;
	border-collapse: collapse;
}

th {
	
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}
.table--results, .table--results tr, .table--results th, .table--results td
	{
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	color: #034D7E;
	font-weight: 400;
}

.table--results {
	width: 100%;
	margin-bottom: 1em;
}

.table--results td, .table--results th {
	padding: 0.35em 0;
}

.table--results .divider {
	border-bottom: 1px dotted #044c7e;
	font-size: 1px;
	line-height: 1px;
}

@media all and (max-width:720px) {
	.map {
		display: block;
		width: 100%;
		height: auto;
		min-height: 360px;
	}
}


button, input, optgroup, select, textarea {
	font: inherit;
	margin: 0;
}
textarea, select, input[type=email], input[type=text], input[type=password] {
	padding: 10px 12px;
	border: 1px solid #231f20;
}
i {
	background: transparent url('../img/operat-sprite.png') 0 0
		no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 0;
}
.i--left {
	float: left;
	margin-right: 0.5em;
}

.i--right {
	float: right;
	margin-left: 0.5em;
}

.i--inline {
	float: none;
	display: inline-block;
	line-height: 1em;
	vertical-align: middle;
}

.i--vac--right {
	margin-left: 0.5em;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.i--vac--right.pad {
	right: 1em;
}

.i--vac--left {
	margin-right: 0.5em;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.i--vac--left.pad {
	left: 1em;
}

.i--arrow--next {
	width: 10px;
	height: 12px;
	background-position: -350px 0;
}

.i--arrow--previous {
	width: 10px;
	height: 12px;
	background-position: -350px -50px;
}

.i--email {
	background-position: -450px 0;
}

.i--phone {
	background-position: -500px 0;
}

.i--facebook {
	background-position: -500px 0;
}

.i--twitter {
	background-position: -550px 0;
}

.i--twitter--clear {
	background-position: 0 0;
}

.i--twitter--blue {
	background-position: -600px 0;
	width: 32px;
	height: 28px;
}

.i--upload {
	background-position: -50px 0;
	width: 20px;
	height: 22px;
}

.i--download {
	background-position: -100px 0;
	width: 24px;
	height: 24px;
}

.i--search-plain {
	background-position: -150px 0;
	width: 20px;
	height: 20px;
}

.i--search {
	background-position: -200px 0;
	width: 34px;
	height: 34px;
}

.i--down {
	background-position: -250px 0;
	width: 34px;
	height: 34px;
}

.i--up {
	background-position: -250px -50px;
	width: 34px;
	height: 34px;
}

.i--arrow--right {
	background-position: -350px 0;
	width: 9px;
	height: 12px;
}

.i--arrow--left {
	background-position: -350px -50px;
	width: 9px;
	height: 12px;
}

.i--plus {
	background-position: -300px 0;
	width: 34px;
	height: 34px;
}

.i--minus {
	background-position: -300px -50px;
	width: 34px;
	height: 34px;
}

.i--nav {
	background-position: -300px 0;
	width: 16px;
	height: 20px;
}
.form-row.invalid {
	padding-bottom: 0px;
}
.form-row.invalid-feedback.invalid {
	display:flex;
	padding-bottom: 20px;
	padding-top: 0px;
}
.form-row.invalid input {
	border-color: red;
}